h1= title
h2= description


- each item, key in items
	.item(id='item'+key)
		.title(id='title-item'+key) #{item['title']} 
		#item-image 
			img(id='img-item'+key, src=item['image'])		
		.description(id='description-item'+key) #{item['description']}
		#item-price(id='price-item'+key) #{item['price']}
						
		
